<!DOCTYPE html>
<html>
  <head>
    <title>AjaxTwitter</title>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      
      <%= render 'users/search.html.erb' %>
      <header>
        <% if current_user %>
        <h1>Welcome <%= current_user.username %>!</h1>
        <% else %>
        <h1>Welcome!</h1>
        <% end %>
      </header>


    <main>
      <%= yield %>

    </main>
    
    
    <ul>
      <li><a href="<%= feed_url %>">Feed</a></li>
      <li><a href="<%= search_users_url %>">User Search</a></li>
      <% if current_user %>
        <form action="/session" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">

          <input type="submit" value="Logout!">
        </form>
      <% end %>
    </ul>
  </body>
</html>
